* {
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
}
.snow {
  position: absolute;
  width: 20px;
  height: 20px;
}
.snow_wrap {
  position: relative;
  width: 750px;
  height: 100%;
  overflow: hidden;
  background: #0e6345;
  margin: 0 auto;
}
.snow:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  background-color: #fff;
  opacity: 1;
  border-radius: 100%;
  filter: blur(5px);
}
.snow_60 {
  left: 346px;
  animation: snowani_60 7.55s linear infinite;
  animation-delay: -0.91s;
}
.snow_60:after {
  transform: scale(0.97);
}
@keyframes snowani_60 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1705px);
  }
}
.snow_59 {
  left: 483px;
  animation: snowani_59 5.59s linear infinite;
  animation-delay: -5.53s;
}
.snow_59:after {
  transform: scale(0.52);
}
@keyframes snowani_59 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1707px);
  }
}
.snow_58 {
  left: 27px;
  animation: snowani_58 6.87s linear infinite;
  animation-delay: -5.28s;
}
.snow_58:after {
  transform: scale(1.00);
}
@keyframes snowani_58 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1775px);
  }
}
.snow_57 {
  left: 54px;
  animation: snowani_57 7.77s linear infinite;
  animation-delay: 0.15s;
}
.snow_57:after {
  transform: scale(1.01);
}
@keyframes snowani_57 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1730px);
  }
}
.snow_56 {
  left: 509px;
  animation: snowani_56 7.45s linear infinite;
  animation-delay: -0.79s;
}
.snow_56:after {
  transform: scale(0.96);
}
@keyframes snowani_56 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1772px);
  }
}
.snow_55 {
  left: 367px;
  animation: snowani_55 5.11s linear infinite;
  animation-delay: -5.85s;
}
.snow_55:after {
  transform: scale(1.10);
}
@keyframes snowani_55 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1749px);
  }
}
.snow_54 {
  left: 652px;
  animation: snowani_54 7.02s linear infinite;
  animation-delay: -7.70s;
}
.snow_54:after {
  transform: scale(1.11);
}
@keyframes snowani_54 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1703px);
  }
}
.snow_53 {
  left: 270px;
  animation: snowani_53 6.27s linear infinite;
  animation-delay: -3.56s;
}
.snow_53:after {
  transform: scale(0.84);
}
@keyframes snowani_53 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1788px);
  }
}
.snow_52 {
  left: 417px;
  animation: snowani_52 5.02s linear infinite;
  animation-delay: -2.63s;
}
.snow_52:after {
  transform: scale(0.62);
}
@keyframes snowani_52 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1604px);
  }
}
.snow_51 {
  left: 299px;
  animation: snowani_51 5.83s linear infinite;
  animation-delay: -3.44s;
}
.snow_51:after {
  transform: scale(0.57);
}
@keyframes snowani_51 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1691px);
  }
}
.snow_50 {
  left: 525px;
  animation: snowani_50 7.44s linear infinite;
  animation-delay: -5.27s;
}
.snow_50:after {
  transform: scale(1.00);
}
@keyframes snowani_50 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1639px);
  }
}
.snow_49 {
  left: 686px;
  animation: snowani_49 4.75s linear infinite;
  animation-delay: -2.95s;
}
.snow_49:after {
  transform: scale(0.70);
}
@keyframes snowani_49 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1684px);
  }
}
.snow_48 {
  left: 591px;
  animation: snowani_48 6.66s linear infinite;
  animation-delay: -1.11s;
}
.snow_48:after {
  transform: scale(0.79);
}
@keyframes snowani_48 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1674px);
  }
}
.snow_47 {
  left: 188px;
  animation: snowani_47 5.98s linear infinite;
  animation-delay: -6.91s;
}
.snow_47:after {
  transform: scale(0.95);
}
@keyframes snowani_47 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1699px);
  }
}
.snow_46 {
  left: 431px;
  animation: snowani_46 7.66s linear infinite;
  animation-delay: -7.40s;
}
.snow_46:after {
  transform: scale(0.77);
}
@keyframes snowani_46 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1761px);
  }
}
.snow_45 {
  left: 111px;
  animation: snowani_45 6.27s linear infinite;
  animation-delay: -1.72s;
}
.snow_45:after {
  transform: scale(1.04);
}
@keyframes snowani_45 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1743px);
  }
}
.snow_44 {
  left: 187px;
  animation: snowani_44 6.07s linear infinite;
  animation-delay: -6.06s;
}
.snow_44:after {
  transform: scale(0.55);
}
@keyframes snowani_44 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1728px);
  }
}
.snow_43 {
  left: 432px;
  animation: snowani_43 4.66s linear infinite;
  animation-delay: -2.43s;
}
.snow_43:after {
  transform: scale(1.03);
}
@keyframes snowani_43 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1659px);
  }
}
.snow_42 {
  left: 298px;
  animation: snowani_42 4.45s linear infinite;
  animation-delay: -1.55s;
}
.snow_42:after {
  transform: scale(0.73);
}
@keyframes snowani_42 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1651px);
  }
}
.snow_41 {
  left: 296px;
  animation: snowani_41 5.69s linear infinite;
  animation-delay: -2.04s;
}
.snow_41:after {
  transform: scale(0.54);
}
@keyframes snowani_41 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1772px);
  }
}
.snow_40 {
  left: 676px;
  animation: snowani_40 4.87s linear infinite;
  animation-delay: -2.90s;
}
.snow_40:after {
  transform: scale(0.58);
}
@keyframes snowani_40 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1700px);
  }
}
.snow_39 {
  left: 680px;
  animation: snowani_39 4.80s linear infinite;
  animation-delay: -5.12s;
}
.snow_39:after {
  transform: scale(0.73);
}
@keyframes snowani_39 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1727px);
  }
}
.snow_38 {
  left: 732px;
  animation: snowani_38 5.17s linear infinite;
  animation-delay: -6.85s;
}
.snow_38:after {
  transform: scale(0.94);
}
@keyframes snowani_38 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1654px);
  }
}
.snow_37 {
  left: 120px;
  animation: snowani_37 4.62s linear infinite;
  animation-delay: -0.19s;
}
.snow_37:after {
  transform: scale(1.09);
}
@keyframes snowani_37 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1673px);
  }
}
.snow_36 {
  left: 259px;
  animation: snowani_36 5.06s linear infinite;
  animation-delay: 0.08s;
}
.snow_36:after {
  transform: scale(0.80);
}
@keyframes snowani_36 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1736px);
  }
}
.snow_35 {
  left: 99px;
  animation: snowani_35 5.75s linear infinite;
  animation-delay: -1.87s;
}
.snow_35:after {
  transform: scale(1.13);
}
@keyframes snowani_35 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1705px);
  }
}
.snow_34 {
  left: 341px;
  animation: snowani_34 7.26s linear infinite;
  animation-delay: -4.61s;
}
.snow_34:after {
  transform: scale(0.96);
}
@keyframes snowani_34 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1707px);
  }
}
.snow_33 {
  left: 466px;
  animation: snowani_33 5.65s linear infinite;
  animation-delay: -1.93s;
}
.snow_33:after {
  transform: scale(0.86);
}
@keyframes snowani_33 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1655px);
  }
}
.snow_32 {
  left: 31px;
  animation: snowani_32 5.53s linear infinite;
  animation-delay: -0.86s;
}
.snow_32:after {
  transform: scale(0.55);
}
@keyframes snowani_32 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1754px);
  }
}
.snow_31 {
  left: 268px;
  animation: snowani_31 6.76s linear infinite;
  animation-delay: -6.57s;
}
.snow_31:after {
  transform: scale(0.72);
}
@keyframes snowani_31 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1667px);
  }
}
.snow_30 {
  left: 384px;
  animation: snowani_30 5.74s linear infinite;
  animation-delay: -5.48s;
}
.snow_30:after {
  transform: scale(0.61);
}
@keyframes snowani_30 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1774px);
  }
}
.snow_29 {
  left: 31px;
  animation: snowani_29 4.05s linear infinite;
  animation-delay: -3.03s;
}
.snow_29:after {
  transform: scale(0.80);
}
@keyframes snowani_29 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1680px);
  }
}
.snow_28 {
  left: 653px;
  animation: snowani_28 4.23s linear infinite;
  animation-delay: -5.20s;
}
.snow_28:after {
  transform: scale(0.69);
}
@keyframes snowani_28 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1785px);
  }
}
.snow_27 {
  left: 648px;
  animation: snowani_27 7.27s linear infinite;
  animation-delay: -6.51s;
}
.snow_27:after {
  transform: scale(0.80);
}
@keyframes snowani_27 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1694px);
  }
}
.snow_26 {
  left: 540px;
  animation: snowani_26 5.36s linear infinite;
  animation-delay: -7.07s;
}
.snow_26:after {
  transform: scale(0.54);
}
@keyframes snowani_26 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1641px);
  }
}
.snow_25 {
  left: 323px;
  animation: snowani_25 7.37s linear infinite;
  animation-delay: -3.37s;
}
.snow_25:after {
  transform: scale(0.70);
}
@keyframes snowani_25 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1645px);
  }
}
.snow_24 {
  left: 138px;
  animation: snowani_24 6.18s linear infinite;
  animation-delay: -7.72s;
}
.snow_24:after {
  transform: scale(0.56);
}
@keyframes snowani_24 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1729px);
  }
}
.snow_23 {
  left: 609px;
  animation: snowani_23 7.77s linear infinite;
  animation-delay: -4.86s;
}
.snow_23:after {
  transform: scale(0.81);
}
@keyframes snowani_23 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1730px);
  }
}
.snow_22 {
  left: 207px;
  animation: snowani_22 4.55s linear infinite;
  animation-delay: -4.66s;
}
.snow_22:after {
  transform: scale(1.12);
}
@keyframes snowani_22 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1761px);
  }
}
.snow_21 {
  left: 187px;
  animation: snowani_21 5.72s linear infinite;
  animation-delay: 0.07s;
}
.snow_21:after {
  transform: scale(0.58);
}
@keyframes snowani_21 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1639px);
  }
}
.snow_20 {
  left: 471px;
  animation: snowani_20 6.22s linear infinite;
  animation-delay: -0.33s;
}
.snow_20:after {
  transform: scale(0.75);
}
@keyframes snowani_20 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1770px);
  }
}
.snow_19 {
  left: 247px;
  animation: snowani_19 6.05s linear infinite;
  animation-delay: -1.24s;
}
.snow_19:after {
  transform: scale(1.03);
}
@keyframes snowani_19 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1780px);
  }
}
.snow_18 {
  left: 496px;
  animation: snowani_18 5.32s linear infinite;
  animation-delay: -2.10s;
}
.snow_18:after {
  transform: scale(0.95);
}
@keyframes snowani_18 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1707px);
  }
}
.snow_17 {
  left: 746px;
  animation: snowani_17 7.99s linear infinite;
  animation-delay: 0.06s;
}
.snow_17:after {
  transform: scale(1.14);
}
@keyframes snowani_17 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1608px);
  }
}
.snow_16 {
  left: 387px;
  animation: snowani_16 6.68s linear infinite;
  animation-delay: -4.21s;
}
.snow_16:after {
  transform: scale(0.66);
}
@keyframes snowani_16 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1770px);
  }
}
.snow_15 {
  left: 421px;
  animation: snowani_15 6.21s linear infinite;
  animation-delay: -3.41s;
}
.snow_15:after {
  transform: scale(0.91);
}
@keyframes snowani_15 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1634px);
  }
}
.snow_14 {
  left: 640px;
  animation: snowani_14 7.40s linear infinite;
  animation-delay: -2.19s;
}
.snow_14:after {
  transform: scale(0.75);
}
@keyframes snowani_14 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1686px);
  }
}
.snow_13 {
  left: 276px;
  animation: snowani_13 6.61s linear infinite;
  animation-delay: -6.95s;
}
.snow_13:after {
  transform: scale(0.61);
}
@keyframes snowani_13 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1749px);
  }
}
.snow_12 {
  left: 400px;
  animation: snowani_12 6.98s linear infinite;
  animation-delay: -2.46s;
}
.snow_12:after {
  transform: scale(0.68);
}
@keyframes snowani_12 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1636px);
  }
}
.snow_11 {
  left: 736px;
  animation: snowani_11 6.81s linear infinite;
  animation-delay: -4.48s;
}
.snow_11:after {
  transform: scale(1.06);
}
@keyframes snowani_11 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1753px);
  }
}
.snow_10 {
  left: 608px;
  animation: snowani_10 4.08s linear infinite;
  animation-delay: -2.90s;
}
.snow_10:after {
  transform: scale(0.52);
}
@keyframes snowani_10 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1668px);
  }
}
.snow_9 {
  left: 173px;
  animation: snowani_9 6.53s linear infinite;
  animation-delay: -7.54s;
}
.snow_9:after {
  transform: scale(1.01);
}
@keyframes snowani_9 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1699px);
  }
}
.snow_8 {
  left: 292px;
  animation: snowani_8 7.19s linear infinite;
  animation-delay: -5.00s;
}
.snow_8:after {
  transform: scale(0.99);
}
@keyframes snowani_8 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1671px);
  }
}
.snow_7 {
  left: 159px;
  animation: snowani_7 7.17s linear infinite;
  animation-delay: -4.86s;
}
.snow_7:after {
  transform: scale(0.82);
}
@keyframes snowani_7 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1682px);
  }
}
.snow_6 {
  left: 598px;
  animation: snowani_6 6.42s linear infinite;
  animation-delay: -0.62s;
}
.snow_6:after {
  transform: scale(0.62);
}
@keyframes snowani_6 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1761px);
  }
}
.snow_5 {
  left: 47px;
  animation: snowani_5 5.60s linear infinite;
  animation-delay: -5.94s;
}
.snow_5:after {
  transform: scale(0.80);
}
@keyframes snowani_5 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1756px);
  }
}
.snow_4 {
  left: 435px;
  animation: snowani_4 4.88s linear infinite;
  animation-delay: -7.33s;
}
.snow_4:after {
  transform: scale(0.68);
}
@keyframes snowani_4 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1640px);
  }
}
.snow_3 {
  left: 716px;
  animation: snowani_3 7.13s linear infinite;
  animation-delay: -7.41s;
}
.snow_3:after {
  transform: scale(1.09);
}
@keyframes snowani_3 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1697px);
  }
}
.snow_2 {
  left: 482px;
  animation: snowani_2 7.97s linear infinite;
  animation-delay: -2.20s;
}
.snow_2:after {
  transform: scale(0.78);
}
@keyframes snowani_2 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1739px);
  }
}
.snow_1 {
  left: 405px;
  animation: snowani_1 7.03s linear infinite;
  animation-delay: -7.18s;
}
.snow_1:after {
  transform: scale(1.06);
}
@keyframes snowani_1 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1747px);
  }
}
