html body {
  padding: 0;
  margin: 0;
  height: 100%;
  background: #0e6345;
}
.snow {
  position: absolute;
  background: #fff;
  filter: blur(3px);
}
.snow_60 {
  width: 7px;
  left: 91%;
  top: 27%;
  animation: snowni_60 5.87s linear infinite;
  animation-delay: -3.54s;
}
.snow_60 .snow_tip {
  padding-top: 50%;
}
@keyframes snowni_60 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1698px);
  }
}
.snow_59 {
  width: 2px;
  left: 93%;
  top: 32%;
  animation: snowni_59 5.65s linear infinite;
  animation-delay: -5.34s;
}
.snow_59 .snow_tip {
  padding-top: 50%;
}
@keyframes snowni_59 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1672px);
  }
}
.snow_58 {
  width: 2px;
  left: 77%;
  top: 7%;
  animation: snowni_58 5.61s linear infinite;
  animation-delay: -5.33s;
}
.snow_58 .snow_tip {
  padding-top: 50%;
}
@keyframes snowni_58 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1684px);
  }
}
.snow_57 {
  width: 18px;
  left: 11%;
  top: 11%;
  animation: snowni_57 4.36s linear infinite;
  animation-delay: -6.90s;
}
.snow_57 .snow_tip {
  padding-top: 50%;
}
@keyframes snowni_57 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1625px);
  }
}
.snow_56 {
  width: 14px;
  left: 43%;
  top: 30%;
  animation: snowni_56 6.74s linear infinite;
  animation-delay: -0.71s;
}
.snow_56 .snow_tip {
  padding-top: 50%;
}
@keyframes snowni_56 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1664px);
  }
}
.snow_55 {
  width: 10px;
  left: 22%;
  top: 98%;
  animation: snowni_55 4.31s linear infinite;
  animation-delay: -2.44s;
}
.snow_55 .snow_tip {
  padding-top: 50%;
}
@keyframes snowni_55 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1694px);
  }
}
.snow_54 {
  width: 17px;
  left: 94%;
  top: 20%;
  animation: snowni_54 4.46s linear infinite;
  animation-delay: -6.95s;
}
.snow_54 .snow_tip {
  padding-top: 50%;
}
@keyframes snowni_54 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1669px);
  }
}
.snow_53 {
  width: 4px;
  left: 38%;
  top: 53%;
  animation: snowni_53 6.05s linear infinite;
  animation-delay: 0.13s;
}
.snow_53 .snow_tip {
  padding-top: 50%;
}
@keyframes snowni_53 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1643px);
  }
}
.snow_52 {
  width: 15px;
  left: 79%;
  top: 48%;
  animation: snowni_52 7.00s linear infinite;
  animation-delay: -1.64s;
}
.snow_52 .snow_tip {
  padding-top: 50%;
}
@keyframes snowni_52 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1626px);
  }
}
.snow_51 {
  width: 17px;
  left: 69%;
  top: 60%;
  animation: snowni_51 6.67s linear infinite;
  animation-delay: -3.02s;
}
.snow_51 .snow_tip {
  padding-top: 50%;
}
@keyframes snowni_51 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1652px);
  }
}
.snow_50 {
  width: 14px;
  left: 9%;
  top: 49%;
  animation: snowni_50 4.68s linear infinite;
  animation-delay: -4.76s;
}
.snow_50 .snow_tip {
  padding-top: 50%;
}
@keyframes snowni_50 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1611px);
  }
}
.snow_49 {
  width: 13px;
  left: 71%;
  top: 52%;
  animation: snowni_49 5.49s linear infinite;
  animation-delay: -3.34s;
}
.snow_49 .snow_tip {
  padding-top: 50%;
}
@keyframes snowni_49 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1683px);
  }
}
.snow_48 {
  width: 16px;
  left: 80%;
  top: 11%;
  animation: snowni_48 6.04s linear infinite;
  animation-delay: -7.39s;
}
.snow_48 .snow_tip {
  padding-top: 50%;
}
@keyframes snowni_48 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1644px);
  }
}
.snow_47 {
  width: 18px;
  left: 35%;
  top: 56%;
  animation: snowni_47 4.33s linear infinite;
  animation-delay: -3.01s;
}
.snow_47 .snow_tip {
  padding-top: 50%;
}
@keyframes snowni_47 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1673px);
  }
}
.snow_46 {
  width: 8px;
  left: 84%;
  top: 23%;
  animation: snowni_46 7.20s linear infinite;
  animation-delay: -7.78s;
}
.snow_46 .snow_tip {
  padding-top: 50%;
}
@keyframes snowni_46 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1646px);
  }
}
.snow_45 {
  width: 19px;
  left: 30%;
  top: 42%;
  animation: snowni_45 5.97s linear infinite;
  animation-delay: -3.55s;
}
.snow_45 .snow_tip {
  padding-top: 50%;
}
@keyframes snowni_45 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1620px);
  }
}
.snow_44 {
  width: 16px;
  left: 82%;
  top: 47%;
  animation: snowni_44 5.10s linear infinite;
  animation-delay: -6.59s;
}
.snow_44 .snow_tip {
  padding-top: 50%;
}
@keyframes snowni_44 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1623px);
  }
}
.snow_43 {
  width: 5px;
  left: 20%;
  top: 27%;
  animation: snowni_43 6.62s linear infinite;
  animation-delay: -0.34s;
}
.snow_43 .snow_tip {
  padding-top: 50%;
}
@keyframes snowni_43 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1666px);
  }
}
.snow_42 {
  width: 8px;
  left: 8%;
  top: 65%;
  animation: snowni_42 7.41s linear infinite;
  animation-delay: -0.95s;
}
.snow_42 .snow_tip {
  padding-top: 50%;
}
@keyframes snowni_42 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1633px);
  }
}
.snow_41 {
  width: 5px;
  left: 2%;
  top: 51%;
  animation: snowni_41 7.58s linear infinite;
  animation-delay: -3.19s;
}
.snow_41 .snow_tip {
  padding-top: 50%;
}
@keyframes snowni_41 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1632px);
  }
}
.snow_40 {
  width: 8px;
  left: 81%;
  top: 58%;
  animation: snowni_40 6.02s linear infinite;
  animation-delay: -5.46s;
}
.snow_40 .snow_tip {
  padding-top: 50%;
}
@keyframes snowni_40 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1616px);
  }
}
.snow_39 {
  width: 1px;
  left: 46%;
  top: 10%;
  animation: snowni_39 5.15s linear infinite;
  animation-delay: -0.40s;
}
.snow_39 .snow_tip {
  padding-top: 50%;
}
@keyframes snowni_39 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1632px);
  }
}
.snow_38 {
  width: 2px;
  left: 76%;
  top: 23%;
  animation: snowni_38 6.51s linear infinite;
  animation-delay: -4.81s;
}
.snow_38 .snow_tip {
  padding-top: 50%;
}
@keyframes snowni_38 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1625px);
  }
}
.snow_37 {
  width: 17px;
  left: 37%;
  top: 75%;
  animation: snowni_37 6.53s linear infinite;
  animation-delay: -7.64s;
}
.snow_37 .snow_tip {
  padding-top: 50%;
}
@keyframes snowni_37 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1644px);
  }
}
.snow_36 {
  width: 5px;
  left: 1%;
  top: 57%;
  animation: snowni_36 5.31s linear infinite;
  animation-delay: -1.43s;
}
.snow_36 .snow_tip {
  padding-top: 50%;
}
@keyframes snowni_36 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1666px);
  }
}
.snow_35 {
  width: 8px;
  left: 57%;
  top: 22%;
  animation: snowni_35 7.81s linear infinite;
  animation-delay: -7.05s;
}
.snow_35 .snow_tip {
  padding-top: 50%;
}
@keyframes snowni_35 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1688px);
  }
}
.snow_34 {
  width: 13px;
  left: 45%;
  top: 56%;
  animation: snowni_34 5.28s linear infinite;
  animation-delay: -5.62s;
}
.snow_34 .snow_tip {
  padding-top: 50%;
}
@keyframes snowni_34 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1685px);
  }
}
.snow_33 {
  width: 18px;
  left: 41%;
  top: 39%;
  animation: snowni_33 6.75s linear infinite;
  animation-delay: -2.29s;
}
.snow_33 .snow_tip {
  padding-top: 50%;
}
@keyframes snowni_33 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1625px);
  }
}
.snow_32 {
  width: 16px;
  left: 77%;
  top: 17%;
  animation: snowni_32 5.12s linear infinite;
  animation-delay: -5.06s;
}
.snow_32 .snow_tip {
  padding-top: 50%;
}
@keyframes snowni_32 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1682px);
  }
}
.snow_31 {
  width: 18px;
  left: 93%;
  top: 61%;
  animation: snowni_31 4.52s linear infinite;
  animation-delay: -5.80s;
}
.snow_31 .snow_tip {
  padding-top: 50%;
}
@keyframes snowni_31 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1653px);
  }
}
.snow_30 {
  width: 9px;
  left: 89%;
  top: 30%;
  animation: snowni_30 5.39s linear infinite;
  animation-delay: -5.29s;
}
.snow_30 .snow_tip {
  padding-top: 50%;
}
@keyframes snowni_30 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1622px);
  }
}
.snow_29 {
  width: 9px;
  left: 64%;
  top: 82%;
  animation: snowni_29 5.95s linear infinite;
  animation-delay: -7.46s;
}
.snow_29 .snow_tip {
  padding-top: 50%;
}
@keyframes snowni_29 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1697px);
  }
}
.snow_28 {
  width: 15px;
  left: 5%;
  top: 86%;
  animation: snowni_28 4.03s linear infinite;
  animation-delay: -7.55s;
}
.snow_28 .snow_tip {
  padding-top: 50%;
}
@keyframes snowni_28 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1609px);
  }
}
.snow_27 {
  width: 1px;
  left: 66%;
  top: 81%;
  animation: snowni_27 7.50s linear infinite;
  animation-delay: -6.92s;
}
.snow_27 .snow_tip {
  padding-top: 50%;
}
@keyframes snowni_27 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1681px);
  }
}
.snow_26 {
  width: 9px;
  left: 9%;
  top: 14%;
  animation: snowni_26 6.55s linear infinite;
  animation-delay: -0.27s;
}
.snow_26 .snow_tip {
  padding-top: 50%;
}
@keyframes snowni_26 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1668px);
  }
}
.snow_25 {
  width: 16px;
  left: 21%;
  top: 62%;
  animation: snowni_25 7.38s linear infinite;
  animation-delay: -3.09s;
}
.snow_25 .snow_tip {
  padding-top: 50%;
}
@keyframes snowni_25 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1643px);
  }
}
.snow_24 {
  width: 5px;
  left: 38%;
  top: 12%;
  animation: snowni_24 7.29s linear infinite;
  animation-delay: -5.64s;
}
.snow_24 .snow_tip {
  padding-top: 50%;
}
@keyframes snowni_24 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1646px);
  }
}
.snow_23 {
  width: 6px;
  left: 36%;
  top: 99%;
  animation: snowni_23 4.59s linear infinite;
  animation-delay: -4.99s;
}
.snow_23 .snow_tip {
  padding-top: 50%;
}
@keyframes snowni_23 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1640px);
  }
}
.snow_22 {
  width: 12px;
  left: 11%;
  top: 86%;
  animation: snowni_22 5.90s linear infinite;
  animation-delay: -4.77s;
}
.snow_22 .snow_tip {
  padding-top: 50%;
}
@keyframes snowni_22 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1671px);
  }
}
.snow_21 {
  width: 12px;
  left: 77%;
  top: 79%;
  animation: snowni_21 7.86s linear infinite;
  animation-delay: -4.02s;
}
.snow_21 .snow_tip {
  padding-top: 50%;
}
@keyframes snowni_21 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1616px);
  }
}
.snow_20 {
  width: 13px;
  left: 21%;
  top: 5%;
  animation: snowni_20 4.72s linear infinite;
  animation-delay: -4.30s;
}
.snow_20 .snow_tip {
  padding-top: 50%;
}
@keyframes snowni_20 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1677px);
  }
}
.snow_19 {
  width: 19px;
  left: 65%;
  top: 35%;
  animation: snowni_19 4.05s linear infinite;
  animation-delay: -6.61s;
}
.snow_19 .snow_tip {
  padding-top: 50%;
}
@keyframes snowni_19 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1619px);
  }
}
.snow_18 {
  width: 0px;
  left: 83%;
  top: 19%;
  animation: snowni_18 5.36s linear infinite;
  animation-delay: -3.32s;
}
.snow_18 .snow_tip {
  padding-top: 50%;
}
@keyframes snowni_18 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1643px);
  }
}
.snow_17 {
  width: 0px;
  left: 81%;
  top: 44%;
  animation: snowni_17 6.53s linear infinite;
  animation-delay: -3.58s;
}
.snow_17 .snow_tip {
  padding-top: 50%;
}
@keyframes snowni_17 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1693px);
  }
}
.snow_16 {
  width: 18px;
  left: 6%;
  top: 99%;
  animation: snowni_16 6.24s linear infinite;
  animation-delay: -3.83s;
}
.snow_16 .snow_tip {
  padding-top: 50%;
}
@keyframes snowni_16 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1697px);
  }
}
.snow_15 {
  width: 13px;
  left: 51%;
  top: 97%;
  animation: snowni_15 6.14s linear infinite;
  animation-delay: -1.30s;
}
.snow_15 .snow_tip {
  padding-top: 50%;
}
@keyframes snowni_15 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1662px);
  }
}
.snow_14 {
  width: 15px;
  left: 52%;
  top: 92%;
  animation: snowni_14 7.86s linear infinite;
  animation-delay: -5.13s;
}
.snow_14 .snow_tip {
  padding-top: 50%;
}
@keyframes snowni_14 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1636px);
  }
}
.snow_13 {
  width: 9px;
  left: 1%;
  top: 52%;
  animation: snowni_13 7.34s linear infinite;
  animation-delay: -3.86s;
}
.snow_13 .snow_tip {
  padding-top: 50%;
}
@keyframes snowni_13 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1647px);
  }
}
.snow_12 {
  width: 11px;
  left: 22%;
  top: 80%;
  animation: snowni_12 7.05s linear infinite;
  animation-delay: -3.55s;
}
.snow_12 .snow_tip {
  padding-top: 50%;
}
@keyframes snowni_12 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1682px);
  }
}
.snow_11 {
  width: 2px;
  left: 40%;
  top: 56%;
  animation: snowni_11 4.40s linear infinite;
  animation-delay: -1.13s;
}
.snow_11 .snow_tip {
  padding-top: 50%;
}
@keyframes snowni_11 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1678px);
  }
}
.snow_10 {
  width: 4px;
  left: 73%;
  top: 50%;
  animation: snowni_10 5.56s linear infinite;
  animation-delay: -6.74s;
}
.snow_10 .snow_tip {
  padding-top: 50%;
}
@keyframes snowni_10 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1658px);
  }
}
.snow_9 {
  width: 4px;
  left: 4%;
  top: 24%;
  animation: snowni_9 7.22s linear infinite;
  animation-delay: 0.08s;
}
.snow_9 .snow_tip {
  padding-top: 50%;
}
@keyframes snowni_9 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1652px);
  }
}
.snow_8 {
  width: 13px;
  left: 31%;
  top: 14%;
  animation: snowni_8 6.33s linear infinite;
  animation-delay: -3.23s;
}
.snow_8 .snow_tip {
  padding-top: 50%;
}
@keyframes snowni_8 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1660px);
  }
}
.snow_7 {
  width: 1px;
  left: 56%;
  top: 32%;
  animation: snowni_7 5.59s linear infinite;
  animation-delay: -0.54s;
}
.snow_7 .snow_tip {
  padding-top: 50%;
}
@keyframes snowni_7 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1632px);
  }
}
.snow_6 {
  width: 16px;
  left: 58%;
  top: 16%;
  animation: snowni_6 7.92s linear infinite;
  animation-delay: -1.75s;
}
.snow_6 .snow_tip {
  padding-top: 50%;
}
@keyframes snowni_6 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1672px);
  }
}
.snow_5 {
  width: 18px;
  left: 79%;
  top: 12%;
  animation: snowni_5 6.12s linear infinite;
  animation-delay: -4.54s;
}
.snow_5 .snow_tip {
  padding-top: 50%;
}
@keyframes snowni_5 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1698px);
  }
}
.snow_4 {
  width: 3px;
  left: 23%;
  top: 97%;
  animation: snowni_4 4.06s linear infinite;
  animation-delay: -3.58s;
}
.snow_4 .snow_tip {
  padding-top: 50%;
}
@keyframes snowni_4 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1644px);
  }
}
.snow_3 {
  width: 3px;
  left: 8%;
  top: 70%;
  animation: snowni_3 7.33s linear infinite;
  animation-delay: -1.11s;
}
.snow_3 .snow_tip {
  padding-top: 50%;
}
@keyframes snowni_3 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1696px);
  }
}
.snow_2 {
  width: 20px;
  left: 5%;
  top: 88%;
  animation: snowni_2 4.28s linear infinite;
  animation-delay: -4.87s;
}
.snow_2 .snow_tip {
  padding-top: 50%;
}
@keyframes snowni_2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1640px);
  }
}
.snow_1 {
  width: 7px;
  left: 63%;
  top: 88%;
  animation: snowni_1 7.52s linear infinite;
  animation-delay: -1.32s;
}
.snow_1 .snow_tip {
  padding-top: 50%;
}
@keyframes snowni_1 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1697px);
  }
}
